body {
  background-color:#EBF5DF;
  margin: 0;
  background-size: cover;
  /* height: 90%;
  width: 90%; */
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'Dosis', sans-serif;
}
