.contenedor_general{
    /* display: flex; */
}
.contenedor_cards{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap;
    border-radius: 15px;
    background-color:#ffffff;
    margin-left: 140px;
    margin-top: 50px;
    width: 80vw;
    height: 120vh;
}
.contenedor_paginado{
    /* display: flex; */
    border-radius: 15px;
    background-color:#ffffff;
    margin-left: 140px;
   /*  margin-top: 50px; */
    width: 80vw;
    height: 7vh;
}
.contenedor_filtros{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    padding-left: 150px;
    margin-bottom: -25px;
}