
.general{
    display:flex;
    /* justify-content:space-between;
    flex-direction: column;  */
    /* height: 96.8vh;
    width: 100vw; */
    height: 100vh;
    width: 100vw;
    margin:none;
    /* height: 100%;
    width: 100%; */
    background-image:url('./img/asd.png');
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-size:cover; */
    /* margin:-50px; */
}
.boton{
    background-color: #EDB458; 
    border: none;
    border-radius: 10px;
    color: #EBF5DF;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Dosis', sans-serif;
    width: 250px;
    margin-bottom: 250px;
    margin-left: 325px;
    /* margin:0; */
    /* opacity: 90%; */
}
.boton:hover {
    background-color: #E8871E;
    transition: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
    opacity: 60%;
    /* padding-right: 25px; */
  }

.columna{
    display:flex;
    justify-content: flex-end;
    flex-direction: column; 
    align-items: flex-start;
}

