
@keyframes ldio-4rupovhn71 {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio_4rupovhn71 div {
  left: 79.785px;
  top: 40.385px;
  position: absolute;
  animation: ldio-4rupovhn71 linear 1.2048192771084336s infinite;
  background: #e8871e;
  width: 37.43px;
  height: 21.669999999999998px;
  border-radius: 16.469199999999997px / 10.834999999999999px;
  transform-origin: 18.715px 58.115px;
}.ldio_4rupovhn71 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1601963409192324s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(2) {
  transform: rotate(13.333333333333334deg);
  animation-delay: -1.115573404730031s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(3) {
  transform: rotate(26.666666666666668deg);
  animation-delay: -1.0709504685408298s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(4) {
  transform: rotate(40deg);
  animation-delay: -1.0263275323516285s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(5) {
  transform: rotate(53.333333333333336deg);
  animation-delay: -0.9817045961624273s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(6) {
  transform: rotate(66.66666666666667deg);
  animation-delay: -0.9370816599732261s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(7) {
  transform: rotate(80deg);
  animation-delay: -0.8924587237840248s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(8) {
  transform: rotate(93.33333333333333deg);
  animation-delay: -0.8478357875948236s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(9) {
  transform: rotate(106.66666666666667deg);
  animation-delay: -0.8032128514056224s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(10) {
  transform: rotate(120deg);
  animation-delay: -0.7585899152164212s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(11) {
  transform: rotate(133.33333333333334deg);
  animation-delay: -0.7139669790272198s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(12) {
  transform: rotate(146.66666666666666deg);
  animation-delay: -0.6693440428380186s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(13) {
  transform: rotate(160deg);
  animation-delay: -0.6247211066488174s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(14) {
  transform: rotate(173.33333333333334deg);
  animation-delay: -0.5800981704596162s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(15) {
  transform: rotate(186.66666666666666deg);
  animation-delay: -0.5354752342704149s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(16) {
  transform: rotate(200deg);
  animation-delay: -0.49085229808121367s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(17) {
  transform: rotate(213.33333333333334deg);
  animation-delay: -0.4462293618920124s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(18) {
  transform: rotate(226.66666666666666deg);
  animation-delay: -0.4016064257028112s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(19) {
  transform: rotate(240deg);
  animation-delay: -0.3569834895136099s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(20) {
  transform: rotate(253.33333333333334deg);
  animation-delay: -0.3123605533244087s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(21) {
  transform: rotate(266.6666666666667deg);
  animation-delay: -0.26773761713520744s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(22) {
  transform: rotate(280deg);
  animation-delay: -0.2231146809460062s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(23) {
  transform: rotate(293.3333333333333deg);
  animation-delay: -0.17849174475680496s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(24) {
  transform: rotate(306.6666666666667deg);
  animation-delay: -0.13386880856760372s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(25) {
  transform: rotate(320deg);
  animation-delay: -0.08924587237840248s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(26) {
  transform: rotate(333.3333333333333deg);
  animation-delay: -0.04462293618920124s;
  background: #e8871e;
}.ldio_4rupovhn71 div:nth-child(27) {
  transform: rotate(346.6666666666667deg);
  animation-delay: 0s;
  background: #e8871e;
}
.loadingio_spinner_spinner_497knc3prpq {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff00;
}
.ldio_4rupovhn71 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio_4rupovhn71 div { box-sizing: content-box; }
/* generated by https://loading.io/ */
