.contenedor{
    list-style: none;
    margin-right: 32px;
    display:flex;
    justify-content: space-around;
    align-content: center;
}
.elemento{
    margin-top: 8px;
}
.boton {
    background-color:#ffffff;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color:#000000;
    text-align: center;
    text-decoration: none; 
}
.boton:hover {
    transition: 0.5s;
    background-color:#EDB458;
    color:#ffffff;
    cursor:pointer;
}