.contenedor{
    list-style: none;
    margin-right: 32px;
    display:flex;
    justify-content: space-around;
    align-content: center;
}
.elemento{
    margin-top: 8px;
}
.boton {
    background-color:none;
    border: none;
    border-radius: 50%;
    color:#E8871E;
    text-align: center;
    text-decoration: none; 
}
.boton:hover {
    transition: 00.5s;
    background-color:none;
    color:#EDB458;

}