.contenedor{
    display:flex;
    flex-direction: row;
    margin-top: 5px;
}
.input{
    display:flex;
    align-items: center;
    border:none;
    outline: none;
    border-radius: 20px;
    height: 22px;
    width: 350px;
}
.boton{
    display:flex;
    align-items: center;
    border:none;
    border-radius: 20px;
    height: 25px;
    width: 33px;
    cursor: pointer;
    color:rgba(255, 255, 255, 0);
    /* background-color: blueviolet; */
    background-image: url(./img/lupa.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: -25px;
}